/* Surface Colors */
$color-surface-x-high: #8c8c9a;
$color-surface-x-low: #ffffff;
$color-surface-brand: #0050ff;
$color-surface-danger: #dc2828;
$color-surface-danger-variant: #ffdcdc;
$color-surface-warning: #a56315;
$color-surface-warning-variant: #faf1b6;

/* Content Colors */
$color-content-on-neutral-xx-high: #2c2c31;
$color-content-on-neutral-medium: #8c8c9a;
$color-content-on-neutral-low: #c9c9ce;
$color-content-on-neutral-danger: #dc2828;
$color-content-on-neutral-warning: #a56315;

/* State Colors */
$color-state-default-hover: #1a1a0f;
$color-state-default-focus: #1a1a1acc;

/* Font Family */
$font-family: 'On Air Var'; // roboto, sans-serif; // 'On Air Var'

/* Label M */
$font-label-m-size: 16px;
$font-label-m-weight: 500;
$font-label-m-line-height: 22px;
$font-label-m-letter-spacing: 0.16px;

/* Label S */
$font-label-s-size: 14px;
$font-label-s-weight: 550;
$font-label-s-line-height: 17px;
$font-label-s-letter-spacing: 0.16px;

/* Body */
$font-body-m-size: 16px;
$font-body-m-weight: 400;
$font-body-m-line-height: 22px;
$font-body-m-letter-spacing: 0.01px;
$font-body-m-paragraph-spacing: 20px;
$font-body-m-list-spacing: 6px;

/* Radius */
$dimension-radius-input: 12px;

/* Spacing */
$dimension-xs: 8px;
$dimension-s: 12px;
$dimension-m: 16px;
$dimension-l: 20px;
