@use 'assets/styles';

body {
  font-family: styles.$font-family;
  margin: styles.$dimension-l;
}

.textInputGroup {
  display: flex;
  flex-direction: column;
  margin: 4px;
}

.labelGroup {
  display: flex;
  align-items: center;
  gap: styles.$dimension-xs;
  margin-bottom: 4px;// styles.$dimension-xs;
}

.label {
  color: styles.$color-content-on-neutral-xx-high;
  font-size: styles.$font-label-m-size;
  font-weight: styles.$font-label-m-weight;
  line-height: styles.$font-body-m-line-height;
  letter-spacing: styles.$font-label-m-letter-spacing;

  &.optional {
    color: styles.$color-content-on-neutral-medium;
    font-size: styles.$font-label-s-size;
    font-weight: styles.$font-label-s-weight;
    line-height: styles.$font-label-s-line-height;
    letter-spacing: styles.$font-label-s-letter-spacing;
  }

  &.error {
    color: styles.$color-content-on-neutral-danger;
  }

  &.warning {
    color: styles.$color-content-on-neutral-warning;
  }

  &.disabled {
    color: styles.$color-content-on-neutral-low;
  }
}

.message {
  color: styles.$color-content-on-neutral-xx-high;
  font-size: styles.$font-label-m-size;
  font-weight: styles.$font-label-m-weight;
  line-height: styles.$font-body-m-line-height;
  letter-spacing: styles.$font-label-m-letter-spacing;

  &.error {
    color: styles.$color-content-on-neutral-danger;
  }

  &.warning {
    color: styles.$color-content-on-neutral-warning;
  }

  &.disabled {
    color: styles.$color-content-on-neutral-low;
  }
}

.textInput {
  border-radius: styles.$dimension-radius-input;
  padding: styles.$dimension-xs;
  width: 100%;
  font-size: styles.$font-body-m-size;
  font-weight: styles.$font-body-m-weight;
  line-height: styles.$font-body-m-line-height;
  letter-spacing: styles.$font-body-m-letter-spacing;
  background-color: styles.$color-surface-x-low;
  color: styles.$color-content-on-neutral-xx-high;
  border: 1px solid styles.$color-surface-x-high;

  &::placeholder {
    color: styles.$color-content-on-neutral-low;
  }

  &:focus {
    border-color: 1px solid styles.$color-state-default-focus;
    caret-color: styles.$color-surface-brand;
  }

  &:not(.disabled):hover {
    border-color: styles.$color-state-default-hover-variant;
  }

  &.disabled {
    border-color: styles.$color-content-on-neutral-low;
    color: styles.$color-content-on-neutral-low;
  }

  &.error {
    border-color: styles.$color-surface-danger-variant;
    //background-color: styles.$color-surface-danger-variant;

    &:focus {
      outline: none;
      border-color: styles.$color-surface-danger;
      caret-color: styles.$color-surface-danger;
    }

    &:not(.disabled):hover {
      border-color: styles.$color-surface-danger;
    }
  }

  &.warning {
    border-color: styles.$color-surface-warning-variant;
    //background-color: styles.$color-surface-warning-variant;

    &:focus {
      outline: none;
      border-color: styles.$color-surface-warning;
      caret-color: styles.$color-surface-warning;
    }

    &:not(.disabled):hover {
      border-color: styles.$color-surface-warning;
    }
  }
}
